*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

}

:root{
    --Soft-Blue: hsl(231, 69%, 60%);
    --Soft-Red: hsl(0, 94%, 66%);
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);
}
a{
    text-decoration: none;
}
html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#navSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
}
    
.navLinks{
    display: flex;
    margin:0px 20px ;
    gap: 20px;
    font-size: 14px;
   align-items: center;

}
.navlinks a{
    color:var(--Very-Dark-Blue);
}

.loginbutton{
    color: white !important;
    background-color: var(--Soft-Red);
    padding: 5px 20px;
}

#firstsection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-content: center;
    place-items: center;
    gap: 70px;
   padding: 50px 70px 50px 100px;
}

.firsth1{
    margin-bottom: 20px;
    font-size: 40px;
    
}
.firstp{
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 14px;
}
.firtlinks{
    font-size: 12px;
}
.firstlink1 {
    color: #fff;
    background-color: var(--Soft-Blue);
    padding: 10px 14px;
    margin-right: 5px;
}
.firstlink2{
    color: var(--Very-Dark-Blue);
    background-color: rgb(253, 252, 251);
    padding: 10px 14px;
    box-shadow: 3px 3px 7px var(--Grayish-Blue);
}
.firstimage{
    width: 100%;
}
#secondsection{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   padding: 0px 100px;
   margin-bottom: 40px;
}
.secondh2{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--Very-Dark-Blue);

}
.secondh2p{
    text-align: center;
    width: 40%;
    font-size: 12px;
    line-height: 20px;
    color: var(--Grayish-Blue);

}
.secondp{
    /* font-size: 12px;
    text-align: center;
    width: 40%;
    line-height: 20px;
    color: var(--Grayish-Blue); */
}
.ps{
    display: flex;
    gap: 60px;
    margin-top: 30px;
    color: var(--Grayish-Blue);
    font-size: 12px;
    border-bottom: 2px solid #e2e2e2;
    padding: 5px 10px 15px 10px
}

.ps p{
    cursor: pointer;
}
.ps p:hover{
    color: red;
}

#Thirdsection{
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
   padding: 0px 100px;
   gap: 30px;
}
.thirdimg{
   width: 80%;
}
.thirdh2p{
    padding: 0px 70px;
}
.thirdh2{
     color: var(--Very-Dark-Blue);
}
.thirdp{
    margin-top: 20px;
    color: var(--Grayish-Blue);
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
}
.thirdh6{
    font-size: 12px;
    font-weight: 100;
    color: #fff;
    background-color: var(--Soft-Blue);
    padding: 10px 30px;
}

#fourthsection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 100px 100px;
}

.fourthh3p{
    text-align: center;
    width: 40%;
    margin-bottom: 20px;
    
}
.fourthh3{
    margin-bottom: 20px;
    color: var(--Very-Dark-Blue);
}
.fourthp1{
    font-size: 12px;
    line-height: 20px;
    color: var(--Gryish-Blue);
}
.img1{
    width: 40%;
    margin-bottom: 10px;
}
.chromefirefoxopera{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.fourthsectionimg{
    text-align: center;
    box-shadow: 2px 2px 20px rgb(224, 224, 224);
    padding: 15px 0px;
   
}
.fourthsectionimg2{
    margin-top: 20px;
}
.fourthsectionimg3{
    margin-top: 40px;
}
.fourthh6{
    color: var(--Very-Dark-Blue);
    margin-bottom: 10px;

}
.fourthimgp{
    font-size: 10px;
    margin-bottom: 15px;
    color: var(--Grayish-Blue);
    /* background-color: red; */
    border-bottom: 1px dashed var(--Grayish-Blue);
    padding-bottom: 20px;
}
.fourthas{
    font-size: 10px;
    background-color: var(--Soft-Blue);
    padding: 5px 10px;
    margin: 0 16px;
    color: #fff; 
}
#fifthsection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:column ;
    padding: 0px 100px;
    margin-bottom: 100px;
}

.fifithh2p{
    text-align: center;
    width: 50%;
    margin-bottom: 40px;
}
.fifithh2p h2{
    color: var(--Very-Dark-Blue);
}
.fifithh2p p{
    font-size: 14px;
    margin-top: 30px;
    color: var(--Grayish-Blue);
}
.fifthh6s{
   display: grid;
   gap: 10px;
   border-top: 1px  var(--Grayish-Blue);
   color: var(--Very-Dark-Blue);
   margin-bottom: 20px;
    
}

.faq{
    border-top: 1px solid var(--Grayish-Blue);
}

.faq-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    gap: 25rem;
}
.faq-answer{
    display: none;
    margin-bottom: 5px;
}

.fifthh6s .faq:nth-child(4){
    border-bottom: 1px solid var(--Grayish-Blue);
}

.fiftha a{
    color: #fff;
    background-color: var(--Soft-Blue);
    padding: 10px 25px;
  
}

#sixthsection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px 100px;
    background-color: var(--Soft-Blue);
}

.sixthp{
    color: #fff;
    font-size: 10px;
    margin-bottom: 10px;
}

.sixthh2{
    color: #fff;
    font-weight: 100;
    width: 25%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.sixthbuttons{
    display: flex;
    gap: 10px;
    align-items: center;
}
.sixthbutton1{
    padding: 10px 20px;
    border-radius: 5px;
}
.sixthbutton2{
    padding: 10px 10px;
    border-radius: 5px;
    color: #fff;
    background-color: var(--Soft-Red);
    cursor: pointer;
}

#seventhsection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    background-color: var(--Very-Dark-Blue);
}

.seventhimglinks{
    display: flex;
    gap: 20px;
    
}
.seventhlogo{
    background-color: #fff;
}
.seventhlinks{
    display: flex;
    font-size: 12px;
    padding: 10px 40px;
    gap: 30px;
}
.seventhlinks a{
    color: #fff;
}
.seventhsocial{
    display: flex;
    gap: 30px;
}

























